<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>
<body>
    @using dojo_survey.Models
    @model Survey
    <div class="container">
        <div class="results">
            <h1>Submitted Info</h1>
            <h2>Name : @Model.Name</h2>
            <h2>Dojo Location : @Model.Location</h2>
            <h2>Favorite Language : @Model.Language</h2>
            <h2>Comment : @Model.Comment</h2> 
            <br>
            <button><a href="/">Go Back</a></button>   
        </div>
    </div>  
</body>
</html>